<header>
    <div class="container">
        <a href="#" routerLink="/home" class="logo">Foodbox</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/dash"><span>Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="/login"><span>Logout</span></a>
                </li>
                <li>
                    <a>
                        <app-cart-status></app-cart-status>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
</header>