.card{
    margin-top: 100px;
    border: 1px solid black;
    padding: 1rem;
    width: 550px;
    left: 45%;
    position: absolute;
}
h1{
    background-color: #638D99;
    border-radius: 10px 10px 0px 0px;
    border: lightgray solid 1px;
    padding: 2rem;
}