nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.nav-link{
    background-color: #ff3b3f;
}
.manage-cuisine{
    padding: 0.8rem;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #ff3b3f;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.search-input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

.search-button {
    height: 3rem;
    width: 5rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #78788c;
    color: white;
    outline: none;
}

.btn-success {
    height: 2.8rem;
    margin: 2px;
    font-size: 1.1rem;
    font-weight: 800;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.item {
    height: 28rem;
    width: 19rem;
    border: 1px solid #ff3b3f;
    border-radius: 0.7rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ff3b3f;
    text-decoration: none;
}

li a img {
    height: 18rem;
    width: 19rem;
    border-bottom: 1px solid #ff3b3f;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ff3b3f;
}

li a:hover {
    opacity: 0.85;
    cursor: pointer;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    font-size: 17px;
}

.name {
    color: black;
}

.star {
    margin-bottom: 0.2rem;
}

.product-item-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}